<!DOCTYPE html>
<html>
<head>
	<title>{{company.name}}</title>
</head>
<body>
{{> header}}

<p>{{message}} user. {{company.name}} is a {{company.type}} company founded in {{company.founded}}.
{{capitalize company.ceo}} is the current CEO of the company.</p>

{{> footer }}
</body>
</html>